
<div class='coffee-indicator'>

    {% for i in (1..5) %}
        {% if i <= level %}
            {% render 'icon-coffee-bean-filled'%}
        {% else %}
            {% render 'icon-coffee-bean-empty'%}
        {% endif %}
    {% endfor %}

</div>