<div class="testimonial-slider">
    {% for block in section.blocks %}
        <div class="testimonial-container">
            <div class="testimonial-quote-container">
                {% render 'icon-quotes' %}
            </div>
            <div class="testimonial-text-container">
                {{block.settings.text}}
            </div>
            <div class="testimonial-user-container">
                <img src="{{block.settings.image | img_url: "300x"}}" class="testimonial-user-img">
            </div>
            <div class="testimonial-user-name-container">
                {{block.settings.name}}
            </div>
        </div>         
    {% endfor %}
</div> 

{%schema%}

{
    "name":"Testimonial Slider",
    "settings":[],
    "blocks":[
        {
            "type":"testimonial",
            "name":"testimonial",
            "settings":[
                {
                    "id":"text",
                    "label":"Text",
                    "type":"richtext"
                },
                {
                    "id":"name",
                    "label":"Name",
                    "type":"text"
                },
                {
                    "id":"image",
                    "label":"Image",
                    "type":"image_picker"
                }
            ]
        }
    ],  
    "presets":[
        {
            "name":"Testimonial Slider"
        }
    ]
}

{%endschema%}